
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>profile</title>
</head>
<body>
    <div>
        <div class="form-group">
            @*<asp:Button ID="Button1" runat="server" Text="Log In" class="form-control  btn-success" OnClick="Button1_Click" OnClientClick="retrun(passwordmatchfunc())" />*@
            <input type="submit" value="Login" class="btn btn-danger btn-block" />

        </div>
    </div>
</body>
</html>
